
@font-face {
	font-family: 'Montserrat'; 
    font-style: normal;
	font-weight: normal;
	src: 
		url(/assets/fonts/Montserrat-Regular.ttf); 
}

@font-face {
	font-family: 'Montserrat'; 
    font-style: normal;
	font-weight: bold;
	src: 
		url(/assets/fonts/Montserrat-Bold.ttf); 
}

@font-face {
	font-family: 'Montserrat'; 
    font-style: normal;
	font-weight: 500;
	src: 
		url(/assets/fonts/Montserrat-Medium.ttf); 
}

@font-face {
	font-family: 'Montserrat'; 
    font-style: normal;
	font-weight: 300;
	src: 
		url(/assets/fonts/Montserrat-Light.ttf); 
}

*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat';
    color: #475677;
    background-color: #DBE8FE;
}


main{
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.todo__title{
    padding-top: 50px;
    display: flex;
    align-items: center;
}

h1 {
    margin-right: 30px;
}
form#todo_create_form{
    padding: 25px;
    background-color:#FFF;
    margin: 20px 0px;
    border-radius: 30px;
    width: 60vw;
    border: 1px dashed #475677;   
}

input[type="text"]{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid dimgrey;
    font-size: 18px;
    width: 70%;
    margin-bottom: 20px;
}

.todo_create_form p{
    margin: 15px 0;
}

select{
    padding: 5px;
    border: 1px solid dimgrey;
    font-size: 18px;
    border-radius: 10px;
}

button.btn{
    padding: 5px 20px;
    border: none;
    background-color: #00113E;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

button.btn:hover{
    cursor: pointer;
    background-color: #1978FE;
}


.btn.button__add{
    background-color: #1978FE;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat';
}
.btn.button__add:hover{
    cursor: pointer;
    background-color: #00113E;
}


.todo__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    margin: 20px 0;
    padding: 25px;
    width: 60vw;
}

.todo__item-text{
    width: 65%;
}
.todo__item-category{
    width: 25%;
}

.todo__item-action{
    width: 5%;
    text-align: center;
}
.todo__item-action:hover{
    cursor: pointer;
    color: #FFF;
}
.todo__item-action-delete{
    width: 5%;
    text-align: center;
    color: #1978FE;
}
.todo__item-action-delete:hover{
    cursor: pointer;
    color: #FFF;
}
.todo__item-title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}
.todo__item-description{
    font-size: 14px;
    width: 70%;
}
.todo__item-category{
    text-align: center;
}
.todo__item-category-label{
    padding: 7px 20px;
    background-color: #3784FE;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.todo__item-action{
    color: #5F6D89;

}

.todo__item-action:hover{
    cursor: pointer;
    color: #3784FE;
}

/* TODO done */

.todo__list-done .todo__item{
    align-items: center;
    background-color:#323c4d;
    color: #fff;
}

.todo__list-done .todo__item-action{
    color: #1978FE;
}


@media screen and (max-width:475px) {
    .only_desctop {
        display: none;
    }

    main{
        padding: 0 25px;
    }

    .todo__list{
        margin: 40px 0;
    }

    .todo__title{
        display: block;
    }

    .todo__item{
        width: auto;
    }

    .todo__item-text, .todo__item-description{
        width: 100%;
    }

    .todo__item-category{
        width: 70%;
        text-align: start;
        margin-top: 20px;
    }
    span.todo__item-category-label{
        font-weight: 300;
        font-size: 12px;
    }

    .todo__item-action{
        width: 15%;
        font-size: 22px;
        text-align: center;
        margin-top: 20px;
    }
    .todo__item-action-delete{
        width: 15%;
        font-size: 22px;
        text-align: center;
        margin-top: 20px;
    }

    form#todo_create_form{
        width: auto;
    }

    .btn.button__add{
        margin-top: 10px;
    }
}